.contact-form-container {
    background-color: #1d1d1d;
    color: #fff;
    padding: 100px;
    display: flex;
    justify-content: center;
  }
  
  .contact-form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .contact-form label {
    font-size: 1.5rem;
    margin-bottom: 10px;
    width: 100%;
    max-width: 80px;
    text-align: left;
  }
  
  .contact-form input,
  .contact-form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 1.5rem;
    padding: 75px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    color: #fff;
  }
  
  .contact-form textarea {
    height: 200px;
  }
  
  .submit-btn {
    background-color: #fff;
    color: #1d1d1d;
    border: none;
    padding: 10px 30px;
    font-size: 1.5rem;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .submit-btn:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 10px #fff;
  }
  